---
---

@import "{{ site.theme }}";
.site-title::before {
	content: url("https://tedlanghorst.github.io/OpenOBS-328/assets/images/favicon.png");
	display: inline-block;
	position: relative;
	width: 38px;
	top: 5px;
}
